<%= form_for @product do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger" role="alert">
      <h5>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this product from being saved:
      </h5>
      <ol>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ol>
      </div>
    </div>
  <% end %>  
  <div class "container">
    <div class "row">
      <div class "col-md-4 col-lg-4 col-sm-12 col-xs-12">
        <p>
          <%= f.label :name %><br>
          <%= f.text_field :name, class: "form-control product-input"%>
        </p>
        <p>
          <%= f.label :price %><br>
          <%= f.text_field :price, class: "form-control product-textarea1"%>
        </p>
          <h3><%= link_to 'Back', products_path, class: " label label-primary" %>
          <%= f.submit class: 'btn btn-success'%>
      </div>
    </div>
  </div>
<% end %>