<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-12">
    <h1>Product</h1>
    <%= form_tag products_path, :method => "get" do %>
      <%= text_field_tag :search %>
      <%= submit_tag "Search" %>
    <% end %>
    <table class="table table-hover">
      <tr>
        <th>#</th>
        <th><%= sortable "name" %></th>
        <th><%= sortable "price" %></th>
        <th colspan="3"></th>
      </tr>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.name %></td>
          <td><%= number_to_currency(product.price) %></td>
          <td><%= link_to 'Edit', edit_product_path(product), class: "label label-warning" %></td>
        </tr>
      <% end %>
    </table>
    <hr>
    <p>
      <%= link_to 'New product', new_product_path, class: "label label-success product-newactive" %>
    </p>
  </div>
</div>
<center>
  <%= will_paginate @products, renderer: BootstrapPagination::Rails%>
</center>