<div class="page_wrapper">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <center>
      	<h1>New product</h1>
      </center>
      <%= render 'form' %>
    </div>
  </div>
</div>