<div class "container"> 
  <p>
  	<div class ="well">
      name: <%= @product.name %>
      <p>
      	price: <%= @product.price %>
      </p>
    </div>
  </p>
   
  <%= link_to 'Edit', edit_product_path(@product), class: "label label-warning"%>
  <%= link_to 'Back', products_path, class: "label label-primary"%> 
</div>